In [2]:
import pandas as pd

In [8]:
years = '99','00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17'

In [3]:
df = pd.read_csv("C:/Users/raana/OneDrive/Desktop/MOIRA/pa_lung99.csv")

In [11]:
for item in years:
    _df = pd.read_csv("C:/Users/raana/OneDrive/Desktop/MOIRA/pa_lung"+item+".csv")
    yr = []
    year = '20'+item
    for i in range(0,len(_df)):
        yr.append(year)
    _df['Year'] = yr 
    df = pd.concat([df,_df])
df

,Formatted_FIPS,County,State,Deaths,Population,Age_Adjusted_Rate,Year
0,42001,Adams,PA,45,90363,0.460165,1999
1,42003,Allegheny,PA,1005,1287247,0.596907,1999
2,42005,Armstrong,PA,54,72572,0.548331,1999
3,42007,Beaver,PA,137,182592,0.557595,1999
4,42009,Bedford,PA,26,49853,0.417900,1999
5,42011,Berks,PA,210,370942,0.491007,1999
6,42013,Blair,PA,87,129757,0.523583,1999
7,42015,Bradford,PA,36,62701,0.481443,1999
8,42017,Bucks,PA,340,593947,0.576138,1999
9,42019,Butler,PA,89,172924,0.472519,1999
10,42021,Cambria,PA,111,153911,0.509451,1999
11,42023,Cameron,PA,SUPPRESSED,6026,SUPPRESSED,1999
12,42025,Carbon,PA,41,58845,0.503256,1999
13,42027,Centre,PA,42,135315,0.380266,1999
14,42029,Chester,PA,188,428055,0.460119,1999
15,42031,Clarion,PA,20,41771,0.408420,1999
16,42033,Clearfield,PA,62,83229,0.590834,1999
17,42035,Clinton,PA,25,37888,0.542277,1999
18,42037,Columbia,PA,29,64301,0.364772,1999
19,42039,Crawford,PA,71,90149,0.665033,1999
20,42041,Cumberland,PA,123,213282,0.503317,1999
21,42043,Dauphin,PA,123,251329,0.444042,1999
22,42045,Delaware,PA,368,550820,0.572250,1999
23,42047,Elk,PA,30,35264,0.669272,1999
24,42049,Erie,PA,192,281294,0.632018,1999
25,42051,Fayette,PA,138,148857,0.695146,1999
26,42053,Forest,PA,SUPPRESSED,4942,SUPPRESSED,1999
27,42055,Franklin,PA,83,128875,0.526472,1999
28,42057,Fulton,PA,SUPPRESSED,14317,SUPPRESSED,1999
29,42059,Greene,PA,34,40796,0.732271,1999
...,...,...,...,...,...,...,...
37,42075,Lebanon,PA,90,139754,0.444163,2017
38,42077,Lehigh,PA,163,366494,0.353364,2017
39,42079,Luzerne,PA,224,317343,0.467236,2017
40,42081,Lycoming,PA,70,113841,0.431320,2017
41,42083,McKean,PA,31,41330,0.490550,2017
42,42085,Mercer,PA,78,111750,0.439110,2017
43,42087,Mifflin,PA,33,46388,0.446012,2017
44,42089,Monroe,PA,85,168046,0.396976,2017
45,42091,Montgomery,PA,357,826075,0.316289,2017
46,42093,Montour,PA,12,18272,0.432871,2017
47,42095,Northampton,PA,151,303405,0.344151,2017
48,42097,Northumberland,PA,73,92029,0.498882,2017
49,42099,Perry,PA,36,46127,0.541707,2017
50,42101,Philadelphia,PA,731,1580863,0.429901,2017
51,42103,Pike,PA,27,55691,0.326596,2017
52,42105,Potter,PA,10,16802,0.328705,2017
53,42107,Schuylkill,PA,104,142569,0.486715,2017
54,42109,Snyder,PA,11,40801,0.185072,2017
55,42111,Somerset,PA,36,74501,0.293056,2017
56,42113,Sullivan,PA,SUPPRESSED,6089,SUPPRESSED,2017
57,42115,Susquehanna,PA,15,40985,0.216394,2017
58,42117,Tioga,PA,27,40793,0.394082,2017
59,42119,Union,PA,17,44595,0.292049,2017
60,42121,Venango,PA,38,51762,0.428662,2017
61,42123,Warren,PA,38,39659,0.576770,2017
62,42125,Washington,PA,151,207298,0.470274,2017
63,42127,Wayne,PA,43,51205,0.477046,2017
64,42129,Westmoreland,PA,245,352627,0.405145,2017
65,42131,Wyoming,PA,SUPPRESSED,27322,SUPPRESSED,2017
66,42133,York,PA,234,446078,0.385874,2017

In [12]:
df.to_csv("C:/Users/raana/OneDrive/Desktop/MOIRA/pa_lung_99_17.csv")